body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

#header {
  display: flex;
  position: fixed;
  top: 0;
  margin: 0 0;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  padding-left: 10px;
  align-items: center;
  z-index: 10;
  background-color: black;
}

#logoImg {
  height: 50px;
}

#header #headerNav a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-decoration: underline;
  padding-right: 30px;
}

#mission {
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  position: relative;
  top: 70px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.missionBanner {
  background-color: black;
  width: 1200px;
  height: 100px;
}

.missionBanner h2,
.missionBanner h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#featured {
  position: relative;
  top: 70px;
  margin: 60px auto;
  width: 1000px;
}

#featured .imagesArray {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding: 0 0;
  margin: 0 auto;
  width: 100%;
}

.imgBox {
  width: 333px;
  margin: 0 0;
  text-align: center;
}

.imgBox img {
  width: 300px;
  height: 200px;
  padding: 0 0;
  margin-bottom: 10px;
}

.imgBox h4 {
  margin-top: 0;
  margin-bottom: 25px;
}

#locations {
  background-image: url(../images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  position: relative;
  top: 70px;
  margin: 10px auto;
  text-align: center;
}

#locations h2 {
  padding-bottom: 0;
  padding-top: 45px;
  margin-bottom: 15px;
}

.areas {
  display: inline-flex;
  width: 980px;
  height: 300px;
  justify-content: space-between;
  bottom: 100px;
}

.locBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  margin: 0 0;
  text-align: center;
  opacity: 1;
  background-color: black;
}
